<div>
  <form action="/" method="post">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <input type="submit" value="Submit">
  </form>
</div>

<div>
  <% foods?.forEach(function(item){ %>
    <div style="display:flex; border: 2px solid;">
      <div style="display:flex; flex-direction: column;">
        <li style="margin-left:20px;">
          <%= item.foodName %>
        </li>
        <li style="margin-left:20px;">
          <%= item.foodNameTurkish %>
        </li>
      </div>
      <div>
        <li style="margin-left:20px;">
          Protein: <%= item.nutrients.protein.value %>
            <%= item.nutrients.protein.unitName %>
        </li>
        <li style="margin-left:20px;">
          Carb: <%= item.nutrients.carbohydrate.value %>
            <%= item.nutrients.carbohydrate.unitName %>
        </li>
        <li style="margin-left:20px;">
          Fat: <%= item.nutrients.fat.value %>
            <%= item.nutrients.fat.unitName %>
        </li>
        <li style="margin-left:20px;">
          Energy: <%= item.nutrients.energy.value %>
            <%= item.nutrients.energy.unitName %>
        </li>
      </div>
      <div>
        <form action="/add" method="post">
          <% var formData = JSON.stringify(item);  %>

          <input type="hidden" name="postFood" value="<%= formData %>">
          <input type="submit" name="add"/>
        </form>
      </div>
    </div>
    <% }); %>

</div>
